[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
rope = "*"
yapf = "*"

[packages]
request = "*"
beautifulsoup4 = "*"
selenium = "*"
rope = "*"
yapf = "*"
logzero = "*"
jupyter = "*"
numpy = "*"
pandas = "*"

[requires]
python_version = "3.8"
